.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 7rem);

    &__word {
      text-transform: uppercase;
      font-size: clamp(2rem, 6vw, 6rem);
      line-height: 8vw;
    }

    &__tagLine {
      font-size: clamp(0.65rem, 1vw, 1.5rem);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-weight: 300;
    }

    &__tag {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

@media (max-width: 445px) {
  .intro__container {
    .intro {
      align-items: flex-start;
      gap: 2rem;
      height: 90vh;

      &__word {
        .line {
          display: flex;
          flex-direction: column;

          .char {
            padding: 1rem 0;
          }
        }
      }
    }
  }
}
