@import "./style/font.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
}
html {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
.main-content {
  padding-top: 70px;
  margin: 2rem;
}
.app__container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
