body {
  cursor: none;
}

.cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  mix-blend-mode: difference;

  &__ball {
    position: fixed;
    top: 0;
    left: 0;

    circle {
      fill: #f7f8fa;
    }
  }
}
